{
  "presets": ["@babel/preset-env"],
  "compact": true,
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true,
        "corejs": 3
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-async-to-generator",
    [
      "module-resolver",
      {
          "alias": {
              "@models": "./src/models",
              "@routers": "./src/routers",
              "@controllers": "./src/controllers"
          }
      }
  ]
  ]
}