{
  "presets": ["@babel/preset-env"],
  "compact": true,
  "plugins": [
    [
      "module-resolver",
      {
          "alias": {
              "@models": "./src/models",
              "@routers": "./src/routers",
              "@controllers": "./src/controllers"
          }
      }
  ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties"
  ]
}